<h2>how to create dataframe</h2>

In [1]:
import pandas as pd

In [2]:
em_df = pd.DataFrame()
print(em_df)

Empty DataFrame
Columns: []
Index: []

In [3]:
list = ['a','b','c']
print(list)

['a', 'b', 'c']

In [4]:
df1 = pd.DataFrame(list)
print(df1)

   0
0  a
1  b
2  c

In [5]:
df1

   0
0  a
1  b
2  c

In [12]:
ls_2d = [[1,2,3],[3,5,5],[1,2,7]]
print(ls_2d)

[[1, 2, 3], [3, 5, 5], [1, 2, 7]]

In [13]:
df2 = pd.DataFrame(ls_2d)

In [14]:
df2

   0  1  2
0  1  2  3
1  3  5  5
2  1  2  7

In [15]:
dict1 = {'id':[11,33,45,67]}
dict1

{'id': [11, 33, 45, 67]}

In [16]:
df3 = pd.DataFrame(dict1)
df3

   id
0  11
1  33
2  45
3  67

In [19]:
dict2 = {'id':[11,33,45,67],'sn':[1,2,3,4]}
dict2

{'id': [11, 33, 45, 67], 'sn': [1, 2, 3, 4]}

In [20]:
df4 = pd.DataFrame(dict2)
df4

   id  sn
0  11   1
1  33   2
2  45   3
3  67   4

In [21]:
ls_dict = [{'a':1,'b':2},{'a':3,'b':4}]
df5 = pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  3  4

In [22]:
ls_dict = [{'a':1,'b':2},{'a':3,'b':4,'c':5}]
df5 = pd.DataFrame(ls_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [25]:
dict_sr = {'id':pd.Series([1,2,3,4]),'sd':([33,4,45,7])}
df6 = pd.DataFrame(dict_sr)
df6

   id  sd
0   1  33
1   2   4
2   3  45
3   4   7